<!DOCTYPE html5>
<meta charset='utf-8'>
<html>
<head>
    <title>letters and symbols</title>
</head>

<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>

<style>

body {
    background-image: url("http://www.kansascitystandard.com/pixelated.me.jpg");
    background-size: cover;
    color:white;
    font-family: 'Source Code Pro';
    font-weight: 100;
    font-size: 10pt;
    padding: 20px;
}

#stuff{
    height: 100px;
    width: 40%;
    font-size: 40pt;
}

#stuff:hover{
    color:#82d7fb;
}


a {
    color: white;
    text-decoration: none;
}

a:hover{
    color:#82d7fb;
}

h1 {
    font-size: 40px;
}


</style>

<body>
 <div id="stuff">
     (^\w{4})$ blog
 </div>
{{content}}
</body>


</html>
